<nav class="nav">
        <ul>
            <li class="li-nav">
                <a asp-controller="Home" asp-action="Index">Hem</a>
            </li>
            <li class="li-nav">
                <a asp-controller="Home" asp-action="Workout">Lägg till träningspass</a>
            </li>
            <li class="li-nav">
                <a asp-controller="Home" asp-action="Allworkouts">Alla träningspass</a>
            </li>
            <li class="li-nav">
                <a asp-controller="Home" asp-action="About">Om sidan</a>
            </li>
        </ul>
</nav>