@{
    ViewData["Title"] = "Om sidan";
}

<h1>Om sidan</h1>

<p>Denna sida är skapad av mig Hanna Lindholm. En sistaårs-student som pluggar till att bli Webbutvecklare.
    Sidan är skapad med ASP .NET Core MVC. Det innebär att den är uppbyggd med en struktur som består av Models, Views
    och Controllers.
</p>
<p>Sidan är skapad för Moment 2 i kursen Webbutveckling med .NET</p>

<picture><img src="~/images/coding640x426.jpg" alt="closeup on computer with programming" width="600" height="500">
</picture>